package serverPages

import "Gooo/server/layout"
import "Gooo/server/utility"

templ Home() {
	@serverLayout.Main("Gooo") {
		<div class="w-full flex flex-col items-center justify-center my-10" id="home"></div>
		<script type="application/json" id="home-initial-data">
      {
        "inputs": {
          "input1": "Server",
          "input2": "",
          "input3": ""
        }
      }
    </script>
		@serverUtility.ConnectFrontend("/gen/js/home.js")
	}
}
