package serverPages

import "Gooo/server/layout"
import "Gooo/server/utility"

templ Todo() {
	@serverLayout.Main("Gooo | Todo") {
		<p>Here is the to-do page</p>
		<div id="todo"></div>
		@serverUtility.ConnectFrontend("/gen/js/todo.js")
	}
}
