package serverPages

import "Gooo/server/layout"
import "Gooo/server/utility"

templ Todo() {
	@serverLayout.Main("Gooo | Todo") {
		<div class="flex flex-col max-w-lg w-full my-5">
			<p class="text-foreground text-2xl text-center font-bold">Here is the Todo page</p>
			<div id="todo"></div>
			@serverUtility.ConnectFrontend("/gen/js/todo.js")
		</div>
	}
}
