package serverPages

import "PersonalPortfolio/components/server/layouts"

templ Home() {
	@serverLayout.Base("Timothy M | Home") {
		<div class="w-full h-full bg-base-100">
			<button class="btn-accent btn ">Here Here</button>
		</div>
		<script src="/gen/js/main.js"></script>
	}
}
